@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Sawarabi+Gothic');

$theme-font: 'Roboto', 'Sawarabi Gothic', Helvetica, Arial, sans-serif;
$body-color: #252830;
$dark-font-color: darkslategray;

$yellow-background: #E4D836;
$green-background: #1BC98E;
$red-background: #b31217;
$purple-background: #753a88;
